REACT_APP_VERSION=$npm_package_version
REACT_APP_BASE_PATH=/

REACT_APP_NAME=APP_NAME

#PREFIX FOR LOCAL STORAGE DATA
REACT_APP_STORAGE_PREFIX=ANY_STRING

#API END POINT
REACT_APP_API_URL=API_PATH

#IMAGES SERVE
REACT_APP_BASE_PROFILE=profile

#GOOGLE MAP API KEY
REACT_APP_MAP_API_KEY=key

#REFRESH USER TOKEN IN EVERY MINUTE PROVIDED
REACT_APP_REFRESH_TOKEN_MINUTE=10